.mt-overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
    opacity: 0;
    background-color: rgba(0,0,0,.7);
//-webkit-transition: all .4s ease-in-out;
//transition: all .4s ease-in-out;
}
.mt-overlay-1 .mt-info {
    text-decoration: none;
    display: inline-block;
    text-transform: uppercase;
    color: #fff;
    background-color: transparent;
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    padding: 0;
    margin: auto;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    transform: translateY(-50%) translateZ(0);
    -webkit-transform: translateY(-50%) translateZ(0);
    -ms-transform: translateY(-50%) translateZ(0);
}

.scancontainer:hover .mt-overlay {
    opacity: 1;
    filter: alpha(opacity=100);
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);

}

.mt-info>li {
    list-style: none;
    display: inline-block;
    margin: 0 3px;
}

.mt-info {
    text-decoration: none;
    display: inline-block;
    text-transform: uppercase;
    color: #fff;
    background-color: transparent;
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    padding: 0;
    margin: auto;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    transform: translateY(-50%) translateZ(0);
    -webkit-transform: translateY(-50%) translateZ(0);
    -ms-transform: translateY(-50%) translateZ(0);
}

.btn.btn-outline.default {
    border-color: #e1e5ec;
    color: #e1e5ec;
    background: 0 0;
}

.mt-overlay:hover .mt-info {
    opacity: 1;
    filter: alpha(opacity=100);
    -webkit-transition-delay: .2s;
    transition-delay: .2s;
}

.tag-deleted{
    background: #f44a52 !important
}
.tag-tag{
    background: red !important;
}
.tag-fullshot{
    background: red !important;
}

.bg-login {
    background-color: #1D1D1D;
}

.onoffswitch {
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    float: left;
    margin-right: 20px;
    position: relative;
    width: 100px;
}
.onoffswitch .onoffswitch-checkbox {
    display: none;
}
.onoffswitch .onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
.onoffswitch .onoffswitch-label {
    border: 0 solid #999999;
    cursor: pointer;
    display: block;
    overflow: hidden;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}
.onoffswitch .onoffswitch-inner {
    -moz-transition: margin 0.3s ease-in 0;
    -o-transition: margin 0.3s ease-in 0;
    -webkit-transition: margin 0.3s ease-in 0;
    display: block;
    margin-left: -100%;
    transition: margin 0.3s ease-in 0;
    width: 200%;
}
.onoffswitch .onoffswitch-inner .onoffswitch-active {
    background-color: #C2C2C2;
    color: #fff;
    padding-left: 15px;
}
.onoffswitch .onoffswitch-inner .onoffswitch-inactive {
    background-color: #C2C2C2;
    color: #fff;
    padding-right: 15px;
    text-align: right;
}
.onoffswitch .onoffswitch-inner > span {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    color: #fff;
    display: block;
    float: left;
    font-family: Trebuchet, Arial, sans-serif;
    font-size: 14px;
    font-weight: 700;
    height: 30px;
    line-height: 30px;
    padding: 0;
    position: relative;
    width: 50%;
}
.onoffswitch .onoffswitch-switch {
    border: 0 solid #999999;
    bottom: 0;
    display: block;
    margin: 0;
    position: absolute;
    text-align: center;
    top: 0;
    width: 40px;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}
.onoffswitch .onoffswitch-active .onoffswitch-switch {
    background: #34A7C1;
    left: 0;
}
.onoffswitch .onoffswitch-active .onoffswitch-switch::before {
    border-color: #34A7C1 transparent transparent #34A7C1;
    border-style: solid;
    border-width: 15px 10px;
    content: " ";
    left: 40px;
    position: absolute;
    top: 0;
}
.onoffswitch .onoffswitch-inactive .onoffswitch-switch {
    background: #A1A1A1;
    right: 0;
}
.onoffswitch .onoffswitch-inactive .onoffswitch-switch::before {
    border-color: transparent #A1A1A1 #A1A1A1 transparent;
    border-style: solid;
    border-width: 15px 10px;
    content: " ";
    position: absolute;
    right: 40px;
    top: 0;
}
.onoffswitch2 {
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    float: left;
    /* margin-right: 20px; */
    position: relative;
    width: 75px;
}
.onoffswitch2 .onoffswitch-checkbox {
    display: none;
}
.onoffswitch2 .onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
.onoffswitch2 .onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0;
}
.onoffswitch2 .onoffswitch-label {
    border-radius: 3px;
    cursor: pointer;
    display: block;
    overflow: hidden;
}
.onoffswitch2 .onoffswitch-inner {
    display: block;
    margin-left: -100%;
    width: 200%;
    -webkit-transition: margin 0.3s ease-in;
    -moz-transition: margin 0.3s ease-in;
    -o-transition: margin 0.3s ease-in;
    -ms-transition: margin 0.3s ease-in;
    transition: margin 0.3s ease-in;
}
.onoffswitch2 .onoffswitch-inner::before {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    background-color: #F55753;
    box-sizing: border-box;
    color: #fff;
    content: "Delete";
    display: block;
    float: left;
    font-family: Trebuchet, Arial, sans-serif;
    font-size: 12px;
    font-weight: 700;
    height: 24px;
    line-height: 24px;
    padding: 0;
    padding-left: 8px;
    text-align: center;
    width: 50%;
}
.onoffswitch2 .onoffswitch-inner::after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    background-color: #999;
    box-sizing: border-box;
    color: #999999;
    color: #fff;
    content: "Delete";
    display: block;
    float: left;
    font-family: Trebuchet, Arial, sans-serif;
    font-size: 12px;
    font-weight: 700;
    height: 24px;
    line-height: 24px;
    padding: 0;
    /* padding-right: 8px; */
    text-align: center;
    width: 50%;
}
.onoffswitch2 .onoffswitch-switch {
    /* background: #fff; */
    border-radius: 3px;
    border: 2px solid #FFFFF;
    bottom: 0;
    display: block;
    height: 14px;
    margin: 5px;
    position: absolute;
    right: 50px;
    top: 0;
    width: 14px;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    -ms-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
}
.userlogged {
    /* border-bottom: 1px solid rgba(255, 255, 255, 0.1); */
    display: block;
    position: absolute;
    margin-bottom: 0;
    margin-bottom: 20px;
    /* margin-left: 10px; */
    /* padding: 5px 10px 0 10px; */
    zoom: 0.9;
    bottom: 0;
    width: 100%;
}
.userlogged > i {
    float: left;
    font-size: 60px;
    margin-bottom: -21px;
    padding-right: 12px;
}

.userlogged img {width: 70px;height: auto;display: inline-block;vertical-align: middle;margin-top: 1px;margin-right: 5px;margin-left: 0;/* margin-bottom: -15px; */border-radius: 50%;float: left;z-index: -50;}
.user-details {
    float: left;
    padding-left: 10px;
    text-align: left;
}

.user-details h4 {
    color: #e2e2e2;
    margin-bottom: 5px;
    overflow: hidden;
    padding-left: 3px;
    text-align: left;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 137px;
}

.user-login {
    display: inline-block;
    float: none;
    margin-left: 0;
    margin-top: 0;
    margin: auto;
    text-align: center;
}

.user-details .user-login .btn {
    margin-right: 0;
}

.message-avatar {
    height: 48px;
    width: 48px;
    border: 1px solid #e7eaec;
    border-radius: 4px;
    margin-top: 1px;
    float: left;
    margin-right: 10px;
    vertical-align: middle;
}

.lockscreen{height:250px;left:50%;margin-left:-239px;margin-top:-185px;position:absolute;top:50%;width:478px}.lockscreen .logo{padding: 10px 0;display:block}.lockscreen .logo+div{background:#FFF;box-shadow:-31px 32px 53px rgba(0,0,0,.2);overflow:hidden;padding:13px;position:relative}.lockscreen .logo>:first-child{margin:0}.lockscreen .logo img{width: 180px;margin-top:-4px;margin-right:-2px}.lockscreen .logo+div>img{float:left}.lockscreen .logo+div>img+div{float:right;width:318px}.lockscreen .logo+div>img+div>:first-child{margin-top:0}.lockscreen .logo+div>img+div>:first-child>:first-child{opacity:.1;padding:15px}.lockscreen .logo+div>img+div>:first-child>small{display:block;padding-top:5px}.lockscreen .logo+div>img+div>:first-child+p{margin-bottom:12px}#lock-page #main{position:static}@media (max-width:767px){.lockscreen .logo+div>img{float:none!important}.lockscreen{height:auto;left:5%;margin-left:0;margin-top:0;position:absolute;top:0;width:90%;text-align:center}.lockscreen .logo+div>img+div{float:none;width:100%;height:auto}}

.flot-chart-content {
    width: 100%;
    height: 100%;
}

div.dataTables_length label{font-weight:400;float:left;text-align:left}div.dataTables_length select{width:75px}div.dataTables_filter label{font-weight:400;float:right}div.dataTables_filter input{width:16em}div.dataTables_info{padding-top:8px}div.dataTables_paginate{float:right;margin:0}div.dataTables_paginate ul.pagination{margin:2px 0;white-space:nowrap}table.dataTable,table.dataTable td,table.dataTable th{-webkit-box-sizing:content-box;-moz-box-sizing:content-box;box-sizing:content-box}table.dataTable{clear:both;margin-top:6px!important;margin-bottom:6px!important;max-width:none!important}table.dataTable thead .sorting,table.dataTable thead .sorting_asc,table.dataTable thead .sorting_desc,table.dataTable thead .sorting_asc_disabled,table.dataTable thead .sorting_desc_disabled{cursor:pointer}table.dataTable thead .sorting_asc_disabled{background:url(sort_asc_disabled.png) no-repeat center right}table.dataTable thead .sorting_desc_disabled{background:url(sort_desc_disabled.png) no-repeat center right}table.dataTable thead > tr > th{padding-left:0;padding-right:18px}.rtl table.dataTable thead > tr > th{padding-left:18px;padding-right:0}table.dataTable th:active{outline:none}div.dataTables_scrollHead table{margin-bottom:0!important;border-bottom-left-radius:0;border-bottom-right-radius:0}div.dataTables_scrollHead table thead tr:last-child th:first-child,div.dataTables_scrollHead table thead tr:last-child td:first-child{border-bottom-left-radius:0!important;border-bottom-right-radius:0!important}div.dataTables_scrollBody table{border-top:none;margin-top:0!important;margin-bottom:0!important}div.dataTables_scrollBody tbody tr:first-child th,div.dataTables_scrollBody tbody tr:first-child td{border-top:none}div.dataTables_scrollFoot table{margin-top:0!important;border-top:none}.table tbody tr.active td,.table tbody tr.active th{background-color:#08C;color:#fff}.table tbody tr.active:hover td,.table tbody tr.active:hover th{background-color:#0075b0!important}.table tbody tr.active a{color:#fff}.table-striped tbody tr.active:nth-child(odd) td,.table-striped tbody tr.active:nth-child(odd) th{background-color:#017ebc}table.DTTT_selectable tbody tr{cursor:pointer}div.DTTT .btn{color:#333!important;font-size:12px}div.DTTT .btn:hover{text-decoration:none!important}ul.DTTT_dropdown.dropdown-menu{z-index:2003}ul.DTTT_dropdown.dropdown-menu a{color:#333!important}ul.DTTT_dropdown.dropdown-menu li{position:relative}ul.DTTT_dropdown.dropdown-menu li:hover a{background-color:#08c;color:#fff!important}div.DTTT_collection_background{z-index:2002}div.DTTT_print_info.modal{height:150px;margin-top:-75px;text-align:center}div.DTTT_print_info h6{font-weight:400;font-size:28px;line-height:28px;margin:1em}div.DTTT_print_info p{font-size:14px;line-height:20px}div.DTFC_LeftHeadWrapper table,div.DTFC_LeftFootWrapper table,div.DTFC_RightHeadWrapper table,div.DTFC_RightFootWrapper table,table.DTFC_Cloned tr.even{background-color:#fff;margin-bottom:0}div.DTFC_RightHeadWrapper table,div.DTFC_LeftHeadWrapper table{margin-bottom:0!important;border-top-right-radius:0!important;border-bottom-left-radius:0!important;border-bottom-right-radius:0!important}div.DTFC_RightHeadWrapper table thead tr:last-child th:first-child,div.DTFC_RightHeadWrapper table thead tr:last-child td:first-child,div.DTFC_LeftHeadWrapper table thead tr:last-child th:first-child,div.DTFC_LeftHeadWrapper table thead tr:last-child td:first-child{border-bottom-left-radius:0!important;border-bottom-right-radius:0!important}div.DTFC_RightBodyWrapper table,div.DTFC_LeftBodyWrapper table{border-top:none;margin-bottom:0!important}div.DTFC_RightBodyWrapper tbody tr:first-child th,div.DTFC_RightBodyWrapper tbody tr:first-child td,div.DTFC_LeftBodyWrapper tbody tr:first-child th,div.DTFC_LeftBodyWrapper tbody tr:first-child td{border-top:none}div.DTFC_RightFootWrapper table,div.DTFC_LeftFootWrapper table{border-top:none}.rtl div.dataTables_length label{float:right;text-align:right}.rtl div.dataTables_filter label{float:left}.rtl div.dataTables_paginate{float:left}.rtl .pagination2 .pagination li{float:right}

div.dataTables_info {
  color: #8BA0B6;
  font-size: 12px;
  padding-top: 8px;
}
.dataTables_filter {
  float: left;
  float: right;
}
.filter-left .dataTables_filter {
  float: left;
}
.DTTT_container {
  float: right;
  position: relative;
}
.DTTT_container .btn {
  height: 35px;
  margin-left: 10px;
  overflow: hidden;
  position: relative;
}
.DTTT_container.btn-group > .btn span {
  text-align: center;
}
.DTTT_container.btn-group > .btn span i {
  padding-right: 0 !important;
}
.DTTT_container.btn-group > .btn:not(.first-child):not(:last-child):not(.dropdown-toggle) {
  border-left: 1px solid #D2D5D8 !important;
  height: 35px;
  overflow: hidden;
  padding-top: 10px;
}
.DTTT_container.btn-group > .btn:last-child:not(:first-child) {
  border-left: 1px solid #D2D5D8 !important;
  height: 35px;
  overflow: hidden;
  padding-top: 10px;
}
.DTTT_container .icon-printer,
.DTTT_container .fa-file-pdf-o,
.DTTT_container .fa-file-excel-o,
.DTTT_container .fa-table {
  font-size: 16px;
  text-align: center;
}
.dataTable .fa-plus-square-o {
  cursor: pointer;
}
.dataTable .sorting_asc {
  cursor: pointer;
  text-align: left;
}
.dataTable .sorting_desc {
  cursor: pointer;
  text-align: left;
}
.dataTable .sorting {
  cursor: pointer;
  text-align: left;
}
.dataTable thead th input[type=text] {
  background: url(../images/various/icon-search-gray.png) no-repeat 12px;
  display: block;
  font-weight: 400;
  padding-left: 32px;
  float: left;
}
.dataTable tfoot th input[type=text] {
  background: url(../images/various/icon-search-gray.png) no-repeat 12px;
  display: block;
  font-weight: 400;
  padding-left: 32px;
}

.timeline-day {
  font-weight: 600;
}
.timeline-day-number {
  /* float: left; */
  font-size: 44px;
  font-weight: 300;
  /* height: 40px; */
  /* margin-top: -10px; */
  /* padding-right: 8px; */
}
.timeline-month {
  font-weight: 600;
}
.full-width{
  width: '100%';
}

.file-name {
    padding: 5px;
    background-color: rgb(255, 255, 255);
    border-top: 1px solid #F3F3F4;
    position: absolute;
    margin-top: -30px;
    width: 100%;
    z-index: 50;
}
.file .icon {
    padding: 15px 10px;
    text-align: center;
}
.file .icon, .file .image {
    height: 100px;
    overflow: hidden;
}

.file .icon i {
    font-size: 70px;
    color: #dadada;
}
.file {
    border: 1px solid #CBCBCB;
    padding: 0;
    /* background-color: #D1D1D1; */
    position: relative;
    margin-bottom: 20px;
    margin-right: 20px;
}
.file-box {
  float: left;
  width: 220px;
}

.blue-bg{
  background-color: #002D5B;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
}


img.img-circle {
    width: 50px;
    height: 50px;
}

img.img-circle-table {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

img.circle-border {
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
    border-width: 3px;
    border-style: solid;
    border-color: rgb(72, 176, 247);
    border-radius: 50%;
}

.today-tr {
  background-color: #002D5B;

}
.no-of-products{
  font-size: 40px;
}

nav ul li.open>a.account {
    padding-bottom: 60px;
}

nav ul li.open.account {
    border-left: none !important;
}
