<div class="row">
  <div class="row wrapper border-bottom white-bg page-heading">
              <div class="col-lg-8">
                  <h2>Product List</h2>
                  <ol class="breadcrumb">
                      <li>
                          <a >Production Information</a>
                      </li>
                      <li class="active">
                          <strong>Product List</strong>
                      </li>
                  </ol>
              </div>
              <div class="col-lg-4 p-t-35">
                <div id="dt_viewsessions_filter" class="search-container">
                      <div class="input-group">
                <span class="input-group-addon" id="basic-addon1"><i class="fa fa-search"></i></span>
                <input type="text" class="form-control inputs" placeholder="What are you looking for?" id="dt_search_box">


              </div>

                </div>
              </div>
          </div>
<br>

</div>
<div class="panel panel-default">
  <!-- NEW COL START -->
  <article class="m-sm">
    <table id="dt_viewproducts" class="table table-responsive table-hover" width="100%">

      <thead>
        <th>GTIN</th>
        <th>Title</th>
        <th>Category</th>
        <th>Color</th>
        <th>Size</th>
        <th>JIRA</th>
      </thead>

      <tbody>

      </tbody>
    </table>

  </article>
  <!-- END COL -->
</div>
