<div class="row">

  <div class="col-sm-8 col-md-8">
    <h3 class="no-margins p-b-sm">All Products</span></h3>
  </div>
  <div class="col-sm-4  p-r-35">
    <!-- /add/sessions -->
    <div id="dt_viewsessions_filter" class="search-container">
          <div class="input-group">
    <span class="input-group-addon" id="basic-addon1"><i class="fa fa-search"></i></span>
    <input type="text" class="form-control inputs" placeholder="What are you looking for?" id="dt_search_box">


  </div>

    </div>
  </div>

</div>
<hr class="simple">
<div class="panel panel-default">
  <!-- NEW COL START -->
  <article class="m-sm">
    <table id="dt_viewproducts" class="table table-responsive table-hover" width="100%">

      <thead>
        <th>GTIN</th>
        <th>Title</th>
        <th>Category</th>
        <th>Color</th>
        <th>Size</th>
        <th>JIRA</th>
        <th></th>
      </thead>

      <tbody>

      </tbody>
    </table>

  </article>
  <!-- END COL -->
</div>
