
<div class="row">
  <div class="col-sm-12 col-md-8">
    <h3 class="no-margins p-b-sm"><span>Release History</span></h3>
    <h4 class="no-margins">View or search all photography models</h4>
  </div>
  <div class="col-sm-12 col-md-4 m-t-md p-r-35">

    <a class="btn btn-primary btn-cons pull-right" href="/node/add/models" >Add New Model</a>
  </div>

</div>
<hr class="simple">
