
<div class="row">
  <div class="col-sm-12 col-md-12">
    <h3 class="no-margins p-b-sm"><span>Product QC</span></h3>
    <h4 class="no-margins">Approve or reject all products shot</h4>
  </div>

</div>
<hr class="simple">


<div class="row qcscreen">



            <div class="inner-content full-height">
            <div class="split-view">

            <div class="split-list">
            <a class="list-refresh" href="#"><i class="fa fa-refresh"></i></a>
            <div data-product="list" class="list-view">

            </div>
            </div>

            <div data-product="opened" class="split-details">

              <div class="no-result">
                <h1>No product has been selected</h1>
              </div>
              <div class="email-content-wrapper" style="display:none" id="email-content-wrapper">

                <div class="actions-wrapper menuclipper bg-master-lightest">
                  <ul class="actions menuclipper-menu no-margin p-l-20 ">
                    <li class="no-padding "><a href="#" class="text-success approve-all" >Approve all</a>
                    </li>
                    <li class="no-padding "><a href="#" class="text-danger reject-all">Reject all</a>
                    </li>
                    <li class="no-padding "><a href="#" class="add-note">Add Note</a>
                    </li>
                  </ul>
                  <div class="clearfix"></div>
                </div>
                <div class="email-content">

                  <div class="clearfix"></div>




              <div class="panel panel-default row">

                <div class="col-sm-12 p-sm border-bottom">
                  <div class="col-sm-12 p-t-20">

                      <div class="col-sm-4 m-l-n">
                        <h5 class="m-sm">Concept</h5>
                        <h3 class="m-sm  product product-concept"></h3>
                      </div>

                      <div class="col-sm-4">
                        <h5 class="m-sm">Identifier</h5>
                        <h3 class="m-sm product product-identifier"></h3>
                      </div>

                      <div class="col-sm-4">
                        <h5 class="m-sm">Color Variant</h5>
                        <h3 class="m-sm product product-cv"></h3>
                      </div>
                      <div>
                          <input type="hidden" id="selected-pid">
                      </div>


                      </div>





                    </div>



                                <div class="col-sm-12 p-sm">



                                  <div class="row">
                                    <div class="col-sm-12 ">
                                        <h5 class="no-margins semi-bold">Product Images</h5>
                                    </div>



                                  </div>

                                          <div id="imagecontainer-wrapper">
                                              <div id="imagecontainer" name="imagecontainer" class="ui-sortable">




                                              </div>
                                          </div>
                </div>




                </div>
            </div>





          </div>
        </div>
      </div>

    </div>
  </div>
  <script>

  </script>
